* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Roboto', sans-serif;
}

#loading {
    margin-top: 5rem;
    color: #ffffff;
    display: none;
}

.containerSpinnerAll{
    width:100%;
    display: none;
}

.containerSpinner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 70px;
    height: 70px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: red #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}

.containerAll {
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/FundoLogin.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login {
    margin-top: 1rem;
}

.automaster {
    font-size: 38px;
    color: #ffffff;
}

.facalogin {
    margin-top: 1rem;
    font-size: 40px;
    color: #ffffff;
}

.containerLogin {
    width: 33rem;
    height: 40rem;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #9B0907;
    box-shadow: 0 0 8px 4px #9B0907;
    justify-content: center;
    backdrop-filter: blur(7px);
    text-align: center;
    background-color: #00000094;
}

.containerInput {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 280px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 4px solid #ffffff;
    outline: 0;
    font-size: 26px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 26px;
    cursor: text;
    top: 25px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 26px;
    color: #ffffff;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 8px;
    font-weight: 700;
    border-width: 4px;
    border-image: linear-gradient(to right, #9B0907, #ff5c77);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 23px;
    color: #9B0907;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.btn-Logar {
    margin-top: 3rem !important;
    cursor: pointer !important;
    position: relative !important;
    padding: 8px 40px !important;
    font-size: 28px !important;
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 34px !important;
    background-color: transparent !important;
    font-weight: 600 !important;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1) !important;
    overflow: hidden !important;
}

.btn-Logar::before {
    content: '' !important;
    position: absolute !important;
    inset: 0 !important;
    margin: auto !important;
    width: 60px !important;
    height: 50px !important;
    border-radius: inherit !important;
    scale: 0 !important;
    z-index: -1 !important;
    background-color: #690e0d !important;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1) !important;
}

.btn-Logar:hover::before {
    scale: 3 !important;
}

.btn-Logar:hover {
    color: #ffffff !important;
    scale: 1.1 !important;
    box-shadow: 0 0px 20px #ffffff !important;
}

.btn-Logar:active {
    scale: 1 !important;
}

.esqueceu-Senha {
    margin-top: 2rem !important;
    font-size: 20px !important;
    color: #ffffff !important;
    text-decoration: underline #ffffff !important;
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
}

.enviaCodigo {
    margin-top: 5rem !important;
}
