*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerNavbar{
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: 0 0 8px 4px #000000;
    flex-direction: column;
}

.navbar{
    background-color: rgb(255, 255, 255) !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav{
    margin-right: 6rem;
}

.navbar-brand {
    font-weight:700;
    font-size: 30px;
    margin-top: -0.5rem;
    color: #000000;
}

.nav-link{
    font-size: 22px;
    font-weight:700;
    margin-top: -0.3rem;
    margin-left: 1.5rem;
    color: #000000;
}

.nav-link:hover{
    color: #d60b08;
}


/* Home */
.containerHomeAll{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../imagens/FundoHome.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertHome{
    margin-top: 2rem;
}

.containerHome{
    width: 100%;
    margin-top: 4rem;
    background-color: #0000006c;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerTarefasPendentesAll{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bemVindo{
    margin-top: 2rem;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.vejaTarefas{
    margin-top: 2rem;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

.vejaTarefasProntas{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

.containerTarefasPendentes{
    margin-top: 2rem;
    width: 90%;
    height: 26rem;
    align-items: center;
    overflow-y: scroll;
    border-radius: 15px;
}

.containerTarefasPendentes::-webkit-scrollbar-track{
	border-radius:15px;
	background-color: #ffffff;
}

.containerTarefasPendentes::-webkit-scrollbar{
    border-radius:15px;
	width: 6px;
	background-color: #ffffff;
}

.containerTarefasPendentes::-webkit-scrollbar-thumb{
	border-radius:15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

.containerTarefa{
    margin-top: 1.5rem;
    width: 97%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px #9B0907;
    margin-left: auto;
    margin-right: auto;
}

.containerCadastrosAll {
    width: 100%;
    min-height: 100vh;
    background-image: url(../imagens/FundoLogin.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro {
    margin-top: 2rem;
    font-size: 40px;
    color: #ffffff;
}

.containerInput {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 280px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 4px solid #ffffff;
    outline: 0;
    font-size: 26px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 26px;
    cursor: text;
    top: 25px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 26px;
    color: #ffffff;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 8px;
    font-weight: 700;
    border-width: 4px;
    border-image: linear-gradient(to right, #9B0907, #ff5c77);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 23px;
    color: #9B0907;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.btnCadastrar {
    margin-top: 3rem;
    cursor: pointer;
    position: relative;
    padding: 10px 40px;
    font-size: 28px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-bottom: 2rem;
}

.btnCadastrar::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #690e0d;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btnCadastrar:hover::before {
    scale: 3;
}

.btnCadastrar:hover {
    color: #ffffff;
    scale: 1.1;
    box-shadow: 0 0px 20px #ffffff;
}

.btnCadastrar:active {
    scale: 1;
}

/* CadastroVeiculo */
.containerCadastros {
    width: 33rem;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #9B0907;
    box-shadow: 0 0 8px 4px #9B0907;
    justify-content: center;
    backdrop-filter: blur(7px);
    text-align: center;
    background-color: #00000094;
}

.containerInputEmailDono{
    margin-top: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertVeiculo{
    margin-top: 2rem;
}

/* Listagens */

.containerListagens{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listagem{
    text-align: center;
    width: 100%;
    margin-top: 4rem;
    color: rgb(0, 0, 0);
}

.listagem2{
    text-align: center;
    width: 100%;
    margin-top: 4rem;
    color: rgb(255, 255, 255);
}

.containerListagemClientes{
    margin-top: 1rem;
    background-image: url(../imagens/FundoCliente.jpg);
    background-size: cover;
    width: 95%;
    height: 80%;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.438);
}

.containerBgListar{
    background-color: #0000005e;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: scroll;
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 8px 4px #000000;
}

.containerBgListar::-webkit-scrollbar-track{
	border-radius:15px;
	background-color: #ffffff;
}

.containerBgListar::-webkit-scrollbar{
    border-radius:15px;
	width: 6px;
	background-color: #ffffff;
}

.containerBgListar::-webkit-scrollbar-thumb{
	border-radius:15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

.containerClienteAll{
    margin-top: 1rem;
    width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    background-color: #b12525;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px #000000;
    transition: transform 0.3s ease-in-out;
}

.containerClienteAll:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to top, #000000, #ffffff);
}

.containerClienteNome{
    justify-content: left;
    align-items: left;
}

.nomeCliente{
    display: flex;
    font-size: 20pt;
    font-weight: 700;
    color: #000000;
}

.clienteNome{
    display: flex;
    margin-top: 0.5rem;
    font-size: 14pt;
    font-weight: 700;
    color: #000000;
}

.containerClienteEmail{

}

.containerClienteEndereco{

}

.containerClienteTelefone{

}

.containerClienteEditar{

}

.btnEditar{

}

.containerClienteExcluir{

}


